.signup-container, .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  background-color: #f0f0f0;
}

.signup-form, .login-form {
  max-width: 400px;
  width: 100%;
}

button {
  margin-top: 10rem;
}

img {
  max-width: 100%;
  border-radius: 8px;
}
